openapi: 3.0.3
info:
  title: GodsView Trading Platform API
  description: |
    Production-grade autonomous trading platform API with comprehensive
    risk management, backtesting, portfolio optimization, and AI-driven intelligence.
  version: 1.0.0
  contact:
    name: GodsView Engineering
    url: https://godsview.dev
  license:
    name: Proprietary
    url: https://godsview.dev/license

servers:
  - url: https://api.godsview.dev
    description: Production server
  - url: http://localhost:8080
    description: Development server

tags:
  - name: Health
    description: Liveness and readiness probes
  - name: Auth
    description: Authentication and API key management
  - name: Brain
    description: Autonomous brain and decision engine
  - name: Backtest
    description: Strategy backtesting and optimization
  - name: Execution
    description: Trade execution and order management
  - name: Market
    description: Market data and intelligence
  - name: Scanner
    description: Symbol and opportunity scanning
  - name: Memory
    description: Trading memory and learning systems
  - name: Risk
    description: Risk management and safety systems
  - name: Portfolio
    description: Portfolio analysis and optimization
  - name: Operations
    description: Operational monitoring and control
  - name: Audit
    description: Audit trail and compliance
  - name: Settings
    description: Configuration and preferences
  - name: Users
    description: User management
  - name: Webhooks
    description: Webhook integration
  - name: ML
    description: Machine learning operations
  - name: Flow
    description: Trading flow and orchestration
  - name: Features
    description: Feature flags and feature management
  - name: TradingView
    description: TradingView integration
  - name: MCP
    description: Model Context Protocol integration

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token for API authentication
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication

  schemas:
    Error401:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [unauthorized]
        message:
          type: string
          description: Authentication required or token invalid

    Error403:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [forbidden]
        message:
          type: string
          description: Insufficient permissions

    Error404:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [not_found]
        message:
          type: string

    Error500:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [internal_server_error]
        message:
          type: string

    HealthResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok]
        uptime:
          type: number
          description: Server uptime in seconds
        startedAt:
          type: string
          format: date-time
        memoryMB:
          type: integer

    BrainState:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [initializing, running, paused, error]
        symbolCount:
          type: integer
        signalCount:
          type: integer
        lastUpdate:
          type: string
          format: date-time

    BacktestResult:
      type: object
      properties:
        id:
          type: string
        strategyId:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        metrics:
          type: object
          properties:
            sharpeRatio:
              type: number
            maxDrawdown:
              type: number
            totalReturn:
              type: number
            winRate:
              type: number

    Position:
      type: object
      properties:
        symbol:
          type: string
        quantity:
          type: number
        entryPrice:
          type: number
        currentPrice:
          type: number
        unrealizedPnL:
          type: number
        percentUnrealized:
          type: number

    Portfolio:
      type: object
      properties:
        accountId:
          type: string
        totalValue:
          type: number
        cash:
          type: number
        positionCount:
          type: integer
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'

paths:
  /healthz:
    get:
      tags:
        - Health
      summary: Liveness probe
      description: Check if the process is running
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /readyz:
    get:
      tags:
        - Health
      summary: Readiness probe
      description: Check if all dependencies are healthy
      operationId: getReadiness
      responses:
        '200':
          description: All dependencies healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /api/auth/keys:
    get:
      tags:
        - Auth
      summary: List API keys
      description: Retrieve all API keys for the current user
      operationId: listApiKeys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'

  /api/brain/status:
    get:
      tags:
        - Brain
      summary: Get brain status
      description: Retrieve the current state of the autonomous brain
      operationId: getBrainStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Brain status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrainState'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/backtest:
    get:
      tags:
        - Backtest
      summary: List backtests
      description: Retrieve historical backtests
      operationId: listBacktests
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of backtests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BacktestResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/execution/positions:
    get:
      tags:
        - Execution
      summary: Get current positions
      description: Retrieve all open positions
      operationId: getPositions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'

  /api/market/bars/{symbol}:
    get:
      tags:
        - Market
      summary: Get market bars
      description: Retrieve OHLC bars for a symbol
      operationId: getMarketBars
      security:
        - bearerAuth: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
          description: Trading symbol (e.g., SPY, BTCUSD)
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [1min, 5min, 15min, 1hour, daily]
            default: 1hour
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: OHLC bars
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                    open:
                      type: number
                    high:
                      type: number
                    low:
                      type: number
                    close:
                      type: number
                    volume:
                      type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Symbol not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'

  /api/scanner/symbols:
    get:
      tags:
        - Scanner
      summary: Get scanner watchlist
      description: Retrieve the current watchlist of symbols
      operationId: getScannerWatchlist
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of watched symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                    label:
                      type: string
                    enabled:
                      type: boolean
                    signalCount:
                      type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/memory/trades:
    get:
      tags:
        - Memory
      summary: Get trade memory
      description: Retrieve historical trades and lessons learned
      operationId: getTradeMemory
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Trade history
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    symbol:
                      type: string
                    entryTime:
                      type: string
                      format: date-time
                    exitTime:
                      type: string
                      format: date-time
                    pnl:
                      type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/risk/dashboard:
    get:
      tags:
        - Risk
      summary: Get risk dashboard
      description: Retrieve current risk metrics and constraints
      operationId: getRiskDashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Risk metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  maxDrawdown:
                    type: number
                  maxDailyLoss:
                    type: number
                  exposure:
                    type: number
                  correlationRisk:
                    type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/portfolio/analysis:
    get:
      tags:
        - Portfolio
      summary: Get portfolio analysis
      description: Retrieve detailed portfolio metrics
      operationId: getPortfolioAnalysis
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Portfolio analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/ops/status:
    get:
      tags:
        - Operations
      summary: Get operations status
      description: Retrieve current operational state
      operationId: getOpsStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Operations status
          content:
            application/json:
              schema:
                type: object
                properties:
                  uptime:
                    type: number
                  lastUpdate:
                    type: string
                    format: date-time
                  alerts:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/audit/trail:
    get:
      tags:
        - Audit
      summary: Get audit trail
      description: Retrieve compliance audit trail
      operationId: getAuditTrail
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Audit trail
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                    action:
                      type: string
                    actor:
                      type: string
                    details:
                      type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/settings:
    get:
      tags:
        - Settings
      summary: Get settings
      description: Retrieve configuration settings
      operationId: getSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Configuration settings
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/users/me:
    get:
      tags:
        - Users
      summary: Get current user
      description: Retrieve current user information
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                  name:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Retrieve registered webhooks
      operationId: listWebhooks
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    url:
                      type: string
                    events:
                      type: array
                      items:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/mcp/status:
    get:
      tags:
        - MCP
      summary: Get MCP status
      description: Retrieve Model Context Protocol status
      operationId: getMcpStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: MCP status
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    type: boolean
                  version:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/ml-ops/models:
    get:
      tags:
        - ML
      summary: List ML models
      description: Retrieve registered machine learning models
      operationId: listMlModels
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    version:
                      type: string
                    status:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/flow/workflows:
    get:
      tags:
        - Flow
      summary: List workflows
      description: Retrieve trading workflows
      operationId: listWorkflows
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    status:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/features:
    get:
      tags:
        - Features
      summary: List features
      description: Retrieve feature flags and feature status
      operationId: listFeatures
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Feature flags
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/tradingview/charts:
    get:
      tags:
        - TradingView
      summary: Get TradingView charts
      description: Retrieve TradingView integration data
      operationId: getTradingViewCharts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Chart data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

security:
  - bearerAuth: []
  - apiKeyAuth: []
