openapi: 3.0.3
info:
  title: GodsView Trading Platform API
  description: |
    Production-grade autonomous trading platform API with comprehensive
    risk management, backtesting, portfolio optimization, and AI-driven intelligence.
  version: 1.0.0
  contact:
    name: GodsView Engineering
    url: https://godsview.dev
  license:
    name: Proprietary
    url: https://godsview.dev/license

servers:
  - url: https://api.godsview.dev
    description: Production server
  - url: http://localhost:8080
    description: Development server

tags:
  - name: Health
    description: Liveness and readiness probes
  - name: Auth
    description: Authentication and API key management
  - name: Brain
    description: Autonomous brain and decision engine
  - name: Backtest
    description: Strategy backtesting and optimization
  - name: Execution
    description: Trade execution and order management
  - name: Market
    description: Market data and intelligence
  - name: Scanner
    description: Symbol and opportunity scanning
  - name: Memory
    description: Trading memory and learning systems
  - name: Risk
    description: Risk management and safety systems
  - name: Portfolio
    description: Portfolio analysis and optimization
  - name: Operations
    description: Operational monitoring and control
  - name: Audit
    description: Audit trail and compliance
  - name: Settings
    description: Configuration and preferences
  - name: Users
    description: User management
  - name: Webhooks
    description: Webhook integration
  - name: ML
    description: Machine learning operations
  - name: Flow
    description: Trading flow and orchestration
  - name: Features
    description: Feature flags and feature management
  - name: TradingView
    description: TradingView integration
  - name: MCP
    description: Model Context Protocol integration

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token for API authentication
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication

  schemas:
    Error401:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [unauthorized]
        message:
          type: string
          description: Authentication required or token invalid

    Error403:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [forbidden]
        message:
          type: string
          description: Insufficient permissions

    Error404:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [not_found]
        message:
          type: string

    Error500:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [internal_server_error]
        message:
          type: string

    HealthResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok]
        uptime:
          type: number
          description: Server uptime in seconds
        startedAt:
          type: string
          format: date-time
        memoryMB:
          type: integer

    BrainState:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [initializing, running, paused, error]
        symbolCount:
          type: integer
        signalCount:
          type: integer
        lastUpdate:
          type: string
          format: date-time

    BacktestResult:
      type: object
      properties:
        id:
          type: string
        strategyId:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        metrics:
          type: object
          properties:
            sharpeRatio:
              type: number
            maxDrawdown:
              type: number
            totalReturn:
              type: number
            winRate:
              type: number

    Position:
      type: object
      properties:
        symbol:
          type: string
        quantity:
          type: number
        entryPrice:
          type: number
        currentPrice:
          type: number
        unrealizedPnL:
          type: number
        percentUnrealized:
          type: number

    Portfolio:
      type: object
      properties:
        accountId:
          type: string
        totalValue:
          type: number
        cash:
          type: number
        positionCount:
          type: integer
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'

paths:
  /healthz:
    get:
      tags:
        - Health
      summary: Liveness probe
      description: Check if the process is running
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /readyz:
    get:
      tags:
        - Health
      summary: Readiness probe
      description: Check if all dependencies are healthy
      operationId: getReadiness
      responses:
        '200':
          description: All dependencies healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /api/auth/keys:
    get:
      tags:
        - Auth
      summary: List API keys
      description: Retrieve all API keys for the current user
      operationId: listApiKeys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'

  /api/brain/status:
    get:
      tags:
        - Brain
      summary: Get brain status
      description: Retrieve the current state of the autonomous brain
      operationId: getBrainStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Brain status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrainState'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/backtest:
    get:
      tags:
        - Backtest
      summary: List backtests
      description: Retrieve historical backtests
      operationId: listBacktests
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of backtests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BacktestResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/execution/positions:
    get:
      tags:
        - Execution
      summary: Get current positions
      description: Retrieve all open positions
      operationId: getPositions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'

  /api/market/bars/{symbol}:
    get:
      tags:
        - Market
      summary: Get market bars
      description: Retrieve OHLC bars for a symbol
      operationId: getMarketBars
      security:
        - bearerAuth: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
          description: Trading symbol (e.g., SPY, BTCUSD)
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [1min, 5min, 15min, 1hour, daily]
            default: 1hour
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: OHLC bars
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                    open:
                      type: number
                    high:
                      type: number
                    low:
                      type: number
                    close:
                      type: number
                    volume:
                      type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Symbol not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'

  /api/scanner/symbols:
    get:
      tags:
        - Scanner
      summary: Get scanner watchlist
      description: Retrieve the current watchlist of symbols
      operationId: getScannerWatchlist
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of watched symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                    label:
                      type: string
                    enabled:
                      type: boolean
                    signalCount:
                      type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/memory/trades:
    get:
      tags:
        - Memory
      summary: Get trade memory
      description: Retrieve historical trades and lessons learned
      operationId: getTradeMemory
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Trade history
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    symbol:
                      type: string
                    entryTime:
                      type: string
                      format: date-time
                    exitTime:
                      type: string
                      format: date-time
                    pnl:
                      type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/risk/dashboard:
    get:
      tags:
        - Risk
      summary: Get risk dashboard
      description: Retrieve current risk metrics and constraints
      operationId: getRiskDashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Risk metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  maxDrawdown:
                    type: number
                  maxDailyLoss:
                    type: number
                  exposure:
                    type: number
                  correlationRisk:
                    type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/portfolio/analysis:
    get:
      tags:
        - Portfolio
      summary: Get portfolio analysis
      description: Retrieve detailed portfolio metrics
      operationId: getPortfolioAnalysis
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Portfolio analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/ops/status:
    get:
      tags:
        - Operations
      summary: Get operations status
      description: Retrieve current operational state
      operationId: getOpsStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Operations status
          content:
            application/json:
              schema:
                type: object
                properties:
                  uptime:
                    type: number
                  lastUpdate:
                    type: string
                    format: date-time
                  alerts:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/audit/trail:
    get:
      tags:
        - Audit
      summary: Get audit trail
      description: Retrieve compliance audit trail
      operationId: getAuditTrail
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Audit trail
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                    action:
                      type: string
                    actor:
                      type: string
                    details:
                      type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/settings:
    get:
      tags:
        - Settings
      summary: Get settings
      description: Retrieve configuration settings
      operationId: getSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Configuration settings
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/users/me:
    get:
      tags:
        - Users
      summary: Get current user
      description: Retrieve current user information
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                  name:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Retrieve registered webhooks
      operationId: listWebhooks
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    url:
                      type: string
                    events:
                      type: array
                      items:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/mcp/status:
    get:
      tags:
        - MCP
      summary: Get MCP status
      description: Retrieve Model Context Protocol status
      operationId: getMcpStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: MCP status
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    type: boolean
                  version:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/ml-ops/models:
    get:
      tags:
        - ML
      summary: List ML models
      description: Retrieve registered machine learning models
      operationId: listMlModels
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    version:
                      type: string
                    status:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/flow/workflows:
    get:
      tags:
        - Flow
      summary: List workflows
      description: Retrieve trading workflows
      operationId: listWorkflows
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    status:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/features:
    get:
      tags:
        - Features
      summary: List features
      description: Retrieve feature flags and feature status
      operationId: listFeatures
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Feature flags
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  /api/tradingview/charts:
    get:
      tags:
        - TradingView
      summary: Get TradingView charts
      description: Retrieve TradingView integration data
      operationId: getTradingViewCharts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Chart data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'

  # ── VC pipeline / production-grade webhook ────────────────────────────────
  /api/webhooks/tradingview:
    post:
      tags: [TradingView]
      summary: TradingView webhook ingestion (production-grade pipeline)
      description: |
        Single-call pipeline: validates the Pine alert, runs risk gates,
        persists a signal row, creates a paper trade if allowed, updates the
        brain entity, and writes a tamper-evident audit row. Returns one
        envelope listing every artifact ID. Rate-limited to 60/min/IP.
      operationId: postTradingViewWebhook
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string }
        - in: header
          name: X-Org-Id
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, signal, timeframe, price, timestamp]
              properties:
                symbol:        { type: string, example: "AAPL" }
                signal:        { type: string }
                timeframe:     { type: string, enum: [1m, 5m, 15m, 1h, 4h, 1d] }
                price:         { type: number, format: float, minimum: 0 }
                timestamp:     { type: integer }
                direction:     { type: string, enum: [long, short, neutral] }
                stop_loss:     { type: number }
                take_profit:   { type: number }
                strategy_name: { type: string }
                passphrase:    { type: string }
      responses:
        '201': { description: Paper trade created }
        '200': { description: Signal received but rejected by risk engine }
        '400': { description: Schema validation failed }
        '401': { description: Invalid passphrase }
        '409': { description: Duplicate idempotency key }
        '423': { description: Kill-switch active }
        '429': { description: Rate limited }
        '503': { description: Production secret misconfigured }

  /api/webhooks/tradingview/last:
    get:
      tags: [TradingView]
      summary: Last successful webhook envelope
      operationId: getLastWebhookEnvelope
      responses:
        '200': { description: Cached last envelope or null }

  /api/webhooks/tradingview/recent:
    get:
      tags: [TradingView]
      summary: Recent vc_pipeline audit events
      operationId: getRecentWebhookAudit
      responses:
        '200': { description: Up to 20 most-recent events }

  /api/webhooks/audit/verify:
    get:
      tags: [TradingView]
      summary: Verify the audit-event HMAC chain
      operationId: verifyAuditChain
      responses:
        '200': { description: Chain status }

  /api/system/status:
    get:
      tags: [Operator]
      summary: Real-time system status
      operationId: getSystemStatus
      responses:
        '200': { description: Status snapshot }

  /api/system/metrics:
    get:
      tags: [Operator]
      summary: In-process metrics (operator only)
      operationId: getSystemMetrics
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Counters + latency p50/p95/p99 }
        '401': { description: Unauthorized }

  /api/system/metrics/prometheus:
    get:
      tags: [Operator]
      summary: Prometheus exposition format
      operationId: getPrometheusMetrics
      responses:
        '200': { description: prometheus exposition (text/plain) }

  /api/system/logs/recent:
    get:
      tags: [Operator]
      summary: Recent log ring events (operator only)
      operationId: getRecentLogs
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Events }
        '401': { description: Unauthorized }

  /api/system/errors:
    get:
      tags: [Operator]
      summary: Captured errors (operator only)
      operationId: getRecentErrors
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Errors }
        '401': { description: Unauthorized }

  /api/system/health/deep:
    get:
      tags: [Operator]
      summary: Deep health (DB+Redis+disk+safety-nets)
      operationId: getDeepHealth
      responses:
        '200': { description: All probes ok }
        '503': { description: Probe failed }

  /api/system/kill-switch:
    get:
      tags: [Operator]
      summary: Kill-switch snapshot
      operationId: getKillSwitch
      responses:
        '200': { description: Snapshot }
    post:
      tags: [Operator]
      summary: Activate kill-switch (operator only)
      operationId: activateKillSwitch
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 240 }
      responses:
        '201': { description: Activated }
        '401': { description: Unauthorized }
    delete:
      tags: [Operator]
      summary: Deactivate kill-switch (operator only)
      operationId: deactivateKillSwitch
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Deactivated }
        '401': { description: Unauthorized }

  /api/brain/entity/{symbol}:
    get:
      tags: [Brain]
      summary: Brain entity detail
      operationId: getBrainEntity
      parameters:
        - in: path
          name: symbol
          required: true
          schema: { type: string }
      responses:
        '200': { description: Entity detail }

  /api/assisted-live/proposals:
    post:
      tags: [Execution]
      summary: Submit a trade proposal (operator only)
      operationId: submitAssistedProposal
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, direction, entry, stop, target, reason, confidence]
              properties:
                symbol:     { type: string }
                direction:  { type: string, enum: [long, short] }
                entry:      { type: number }
                stop:       { type: number }
                target:     { type: number }
                reason:     { type: string }
                confidence: { type: number, minimum: 0, maximum: 100 }
      responses:
        '201': { description: Proposal queued }
        '400': { description: Validation failed }
        '401': { description: Unauthorized }

  /api/assisted-live/proposals/{id}/execute:
    post:
      tags: [Execution]
      summary: Execute an approved proposal with safety re-checks (operator only)
      operationId: executeAssistedProposal
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPrice:   { type: number }
                maxSlippageBps: { type: integer, minimum: 1, maximum: 1000 }
      responses:
        '200': { description: Executed }
        '404': { description: Proposal not found }
        '409': { description: Blocked by status / risk / slippage gate }
        '503': { description: Live price feed unavailable }

security:
  - bearerAuth: []
  - apiKeyAuth: []
